body.javascript .javascript {display: none;}

@media screen{
  #actions_menu{
    text-align: right;
    position: relative;
    float: right;
  }
  #toppings{
    display: none;
  }
  #actions_menu:hover div#toppings{
    position: absolute;
    right: 0px;
    z-index: 2000;
    display: block;
  }

  A:link {text-decoration: none; color: black;}
  A:visited {text-decoration: none; color: black;}
  A:hover {color: grey;}
  a {cursor: pointer;}
/*
  .d_menu:hover {
    background-color: lightgrey;
    position: relative;
    z-index: 3;:w

  }
  .d_menu .id_menu {
    display: none;
  }
  .d_menu:hover .id_menu {
    display: block;
    position: absolute;
    width: 275px;
    white-space: nowrap;
    top: 16px;
    left: -2px;
    background-color: lightgrey;
    border: solid;
    border-width: 2px;
    overflow: auto;
  }
  li:hover .d_menu_l {
    display: block;
    position: relative;
    z-index: 3;
  }
  .d_menu_l, .id_menu_l {
    display: none;
  }
  .d_menu_l:hover .id_menu_l {
    cursor: pointer;
    display: block;
    position: absolute;
    white-space: nowrap;
    top: 16px;
    right: -1px;
    background-color: lightgrey;
    border: solid 1px black;
    overflow: auto;
  }
  #songs_list a, #add_song a{
    display: block;
  }
  .ui-selected {
    display: block;
  }
  #fragment-1 td {
    vertical-align: top;
    width: 200px;
  }
  .table tr td {
    border-bottom: solid 1px grey;
    border-right: solid 1px grey;
  }
  #sidebar, #r_sidebar {
    width: 300px;
  }
  dt {
    margin-top: 10px;
    font-weight:bold;
  }
  .commentcontainer {
    display: none;
  }
  .comments pre {
    padding: 0px;
    margin: 0px;
    margin-bottom: 2px;
  }
  .a:before {
    cursor: pointer;
    content: '  ';
    padding-left: 20px;
    background-image:url(../images/thumb_up_green.png);
    background-repeat: no-repeat;
  }
  .r:before {
    cursor: pointer;
    content: '  ';
    padding-left: 20px;
    background-image:url(../images/thumb_down_red.png);
    background-repeat: no-repeat;
  }
  .n:before {
    cursor: pointer;
    content: '  ';
    padding-left: 20px;
    background-image:url(../images/time_yellow.png);
    background-repeat: no-repeat;
  }
  /*to make pre-formatted text wordwrap*/
  pre{
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
  .scrollable {
    overflow: auto;
  } 
  body {
    margin: 0px;
    overflow: hidden;
  }
}
@media (min-width: 40em) {
  #actions_menu:hover div#toppings{
    position: static;
    display: inline;
  }
  #hamburger_icon{
    visibility: hidden;
  }
  #actions_menu {     
    float: right;
    position: relative;
  }
  #toppings li, #toppings li a, #toppings{
    display: inline
  }

@media (min-width: 60em) {
/* disable "dismiss" on wide viewports */
.ui-panel-dismiss{
    display: none;
}
  #open_left_panel {
    display: none;
  }
  #left_panel {
    visibility: visible;
    position: relative;
    left: 0;
    clip: initial;
    float: left;
    width: 25%;
    background: none;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #main {
    position: relative;
    width: 67%;
    padding-top: 0.5em;
    padding-left: 8%;
    float: right;
  }
}

@media print {
  .commentcontainer {
    display: block;
  }
  .header, #sidebar, img, .commentcontainer label, .commentcontainer textarea, .commentcontainer a{
    display: none;
  }
}
