<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="template.html" />

<head>
  <title>yCanta: ${book.title}</title>
</head>

<body>
  <div class="main" data-role="page">
    <span class="jsdatastorage">
      <breadcrumb />
      <li class="toppings"><a class="ui-btn ui-icon-edit ui-btn-icon-left">Edit</a></li>
      <li class="toppings"><a class="ui-btn ui-icon-action ui-btn-icon-left" href="${tg.url('/book/%s/pdf' % book.title)}" data-ajax="false">PDF</a></li>
      <li class="toppings"><a class="ui-btn ui-icon-camera ui-btn-icon-left" href="">Present</a></li>
      <li class="toppings"><a class="ui-btn ui-icon-delete ui-btn-icon-left">Delete</a></li>
    </span>
    <div role="main" class="ui-content scrollable">
      <h3><span py:replace="book.title"></span>&nbsp;&nbsp;<a class="inline ui-btn ui-icon-info ui-btn-icon-notext"></a></h3>
      <div class="songlist columns">
        <a py:for="song in book.songs()" href="${song_url(book, song)}">${song.title}</a>
      </div>
    </div>
    <!-- Left Panel -->
    <div class="jsdatastorage">
      <a py:for="title in booktitles" href="${tg.url('/book/%s'%title)}" data-filtertext="${title}" class="leftnav selected${title==book.title}">${title}</a>
    </div>
    <!-- Right Panel -->
    <div data-role="panel" data-position="right" data-display="overlay" class="right_panel">
      <p>THis is wehre I'd put song content</p>
      <!-- panel content here -->
    </div>
  </div>
</body>
</html>
