<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="template.html" />

<head>
  <title>Songbook: ${title}</title>
</head>

<body>
  <div class="ui-responsive-panel" data-role="page">
    <div role="main" class="ui-content scrollable">
      <song format-version="0.1">
        <stitle>Jesu, Jesu</stitle>
        <author>Tom Colvin</author>
        <categories>Humility, Love for Others, Servanthood, Children's Song, Needs Chord Work</categories>
        <chunk type="chorus">
          <line><c>E</c>Jesu, Jesu,</line>
          <line>F<c>A</c>ill us with your love,</line>
          <line>S<c>E</c>how us how to serve</line>
          <line><c>B7</c>The neighb<c>E</c>ors we have from You.</line>
        </chunk>
        <chunk type="verse">
          <line>K<c>E</c>neels at the feet of his f<c>A</c>riends,</line>
          <line>J<c>B7</c>oyfully washes their f<c>E</c>eet,</line>
          <line>M<c>C#m</c>aster who acts as a s<c>B7</c>lave to t<c>E</c>hem.</line>
        </chunk>
        <chunk type="verse">
          <line>N<c>E</c>eighbors are wealthy and p<c>A</c>oor,</line>
          <line>N<c>B7</c>eighbors are black and w<c>E</c>hite,</line>
          <line>N<c>C#m</c>eighbors are nearby and <c>B7</c>far a<c>E</c>way.</line>
        </chunk>
        <chunk type="verse">
          <line>T<c>E</c>hese are the ones we should s<c>A</c>erve,</line>
          <line>T<c>B7</c>hese are the ones we should l<c>E</c>ove;</line>
          <line><c>C#m</c>All people are neighbors to <c>B7</c>us and Y<c>E</c>ou.</line>
        </chunk>
        <chunk type="verse">
          <line>L<c>E</c>oving puts us on our k<c>A</c>nees,</line>
          <line>S<c>B7</c>erving as though we were s<c>E</c>laves;</line>
          <line>T<c>C#m</c>his is the way we should l<c>B7</c>ive with Y<c>E</c>ou.</line>
        </chunk>
        <copyright />
      </song>...
    </div>
  </div>
</body>
</html>
