<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="template.html" />

<head>
<title>${book.title} > ${song.title}</title>
</head>

<body>
  <div class="ui-responsive-panel" id="main" data-role="page">
    <span class="javascript">
      <breadcrumb />
      <toppings />
    </span>
    <div role="main" class="ui-content scrollable">
      <p><span py:replace="song.title"></span>&nbsp;&nbsp;&nbsp;<a class="inline ui-btn ui-icon-info ui-btn-icon-notext"></a></p>
      <p>
        <span py:if="song.author" py:content="song.author"></span>
        <span py:if="song.scripture" py:content="song.scripture"></span>
      </p>
      <p>
        <span py:if="song.introduction" py:content="song.introduction"></span>
        <span py:if="song.key">Key: <span py:replace="song.key"></span></span>
      </p>
      <!-- Song content -->
      <p py:replace="HTML(song.content)"></p>
      <p py:if="song.ccli">CCLI</p>
      <p py:if="song.copyright" py:content="song.copyright"></p>
    </div>
    <!-- Right Panel -->
    <div data-role="panel" data-position="right" data-display="overlay" id="right_panel">
      <!-- panel content here -->
    </div>
  </div>
 

</body>
</html>
