<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="template.html" />

<head>
<title>yCanta: ${book.title} > ${song.title}</title>
</head>

<body>
  <div class="ui-responsive-panel" id="main" data-role="page">
    <span class="jsdatastorage">
      <breadcrumb />
      <li class="toppings"><a class="ui-btn ui-icon-back ui-btn-icon-left" href="${tg.url('/book/%s' % book.title)}" data-rel="back">Cancel</a></li>
    </span>
    <div role="main" class="ui-content scrollable">
      <h3>
        <span py:replace="song.title"></span>&nbsp;&nbsp;
        <a href="#songInfo${song.id}" data-rel="popup" class="inline ui-btn ui-icon-info ui-btn-icon-notext"></a>
        <div data-role="popup" id="songInfo${song.id}">
          <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">Information</li>
          <li><a>Canaan Nominations</a></li>
        </ul>
        </div>
      </h3>
      <p>
        <span py:if="song.author" class="author" py:content="song.author"></span>
        <span py:if="song.scripture" py:content="song.scripture"></span>
      </p>
      <p>
        <span py:if="song.introduction" py:content="song.introduction"></span>
        <span py:if="song.key">Key: <span py:replace="song.key"></span></span>
      </p>
      <p><span py:if="song.categories" class="categories" py:content="song.categories"></span></p>
      <p py:if="song.ccli">CCLI</p>
      <!-- Song content -->
      <p py:replace="HTML(song.content)"></p>
      <p py:if="song.copyright" py:content="song.copyright"></p>
    </div>
    <!-- Left Panel -->
    <div class="jsdatastorage">
      <a py:for="s in book.songs()" href="${song_url(book, s)}" data-filtertext="${s.tosearchstr()}" class="leftnav selected${s.title==song.title}">${s.title}</a>
    </div>
    <!-- Right Panel -->
    <div data-role="panel" data-position="right" data-display="overlay" id="right_panel">
      <!-- panel content here -->
    </div>
  </div>
  <script type="text/javascript">
  $(document).on("pageshow","[data-role='page']", function() {
    makeSearchable('.categories', 'c:')
    makeSearchable('.author', 'a:')
    });
  </script>
</body>
</html>
