<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="template.html" />

<head>
<title>yCanta: ${book.title} > ${song.title}</title>
</head>

<body>
  <div class="ui-responsive-panel" id="main" data-role="page">
    <span class="jsdatastorage">
      <breadcrumb />
      <li class="toppings"><a class="ui-btn ui-icon-back ui-btn-icon-left" href="${tg.url('/book/%s' % book.title)}" data-rel="back">Cancel</a></li>
    </span>
    <div role="main" class="ui-content scrollable">
      <form action="song_save" method="post">
        <div data-role="navbar">
          <ul>
            <li><input type="submit" name="submit" value="Save" /></li>
            <li><input type="button" onclick="history.back()" value="Cancel" /></li>
            <li><input type="button" onclick="window.location.reload()" value="Reset" /></li>
          </ul>
        </div>
        <!--input type="hidden" name="new" value="${new}" /--><br />
        <label><big><b>Title:</b></big>
          <input data-mini="True" class="def_input" defaultText="New Song" type="text" name="title" py:attrs="{'value': song.title}" />
        </label>
        <div class="columns">
          <span data-role="fieldcontain">
            <label><b>Author:</b></label>
            <input data-mini="True" type="text" name="author" py:attrs="{'value': song.author}" />
          </span>
          <span data-role="fieldcontain">
            <label><b>Scripture:</b></label>
            <input data-mini="True" type="text" name="scripture" py:attrs="{'value': song.scripture}" />
          </span>
        </div>
        <div class="columns">
          <span data-role="fieldcontain">
            <label>Intro:</label>
            <input data-mini="True" type="text" name="introduction" py:attrs="{'value': song.introduction}" /> 
          </span>
          <span data-role="fieldcontain">
            <label>Key:
              <a onclick="$('.transpose-keys').toggle()">
                <img src="static/images/transpose.png" />
              </a>
            </label>
            <input data-mini="True" type="text" name="key" py:attrs="{'value': song.key}" />
          </span>
        </div>
        <span data-role="fieldcontain">
          <label>CCLI:
            <input py:if="song.ccli == True" data-mini="True" type="checkbox" name="ccli" checked=""/>
            <input py:if="song.ccli == False" data-mini="True" type="checkbox" name="ccli"/>
          </label>
        </span>
        <p><i>A blank line between text in a chunk will split it when saved.</i></p>
        <div>
          <?python
          import ycanta.lib.song
          ?>
          <ol data-inset="true" data-role="listview" class="sortable">
            <li py:for="chunk in song.toxmlET().findall('chunk')">
              <span data-role="controlgroup" data-type="horizontal">
                <select data-mini="true" name="types" >
                  <option py:for="item in ['verse','chorus']" py:content='item.title()' selected='${item == chunk.get("type") or None}'></option>
                  <optgroup label='Misc'>
                    <option py:for="item in ['pre-chorus','final chorus','bridge','ending',
                      'no label', 'indented no label', 'comment']" py:content='item.title()' 
                      selected='${item == chunk.get("type") or None}'></option>
                  </optgroup>
                </select>
              </span>
              <span data-mini="true" data-role="controlgroup" data-type="horizontal" class="ui-li-aside">
                <a class="ui-btn ui-btn-icon-notext ui-icon-plus" onclick="insertChunk(this)">A</a>
                <a class="ui-btn ui-btn-icon-notext ui-icon-paste" onclick="insertChunk(this)">P</a>
                <a class="ui-btn ui-btn-icon-right ui-btn-icon-notext ui-icon-delete" onclick="$(this).parent().parent().parent().slideUp(300, function () {$(this).remove();});">D</a>
              </span>
              <textarea name="chunk_list" py:content="ycanta.lib.song.chunk_to_mono(chunk)"/>
            </li>
          </ol>
        </div>
        <span data-role="fieldcontain">
          <label>Copyright:</label>
          <input type="text" name="copyright" py:attrs="{'value': song.copyright}" />
        </span>
        <input type="hidden" name="path" py:attrs="{'value': 'path'}" />
        <div data-role="navbar">
          <ul>
            <li><input type="submit" name="submit" value="Save" /></li>
            <li><input type="button" onclick="history.back()" value="Cancel" /></li>
            <li><input type="button" onclick="window.location.reload()" value="Reset" /></li>
          </ul>
        </div>
        <br />
        <!-- Right Panel -->
        <div data-role="panel" data-position="right" data-display="overlay" id="right_panel">
          <div class="scrollable" style="float:right; width:240px;">
            <dl id="cat_list">
              <dt>Song Categories</dt>
              <!--dd py:for="cat in db.get_st_categories()">
              <input type="checkbox" py:attrs="{'value': cat}" py:content="cat" checked="${cat in categories or None}" name="categories" />
              </dd>
              <hr />
              <dd py:for="cat in categories">
              <input py:if="cat not in db.get_st_categories()" type="checkbox" py:attrs="{'value': cat}" py:content="cat" checked="checked" name="categories" />
              </dd-->
            </dl>
            <!--Add new category -->
            <dl id="add_cat">  
              <input class="def_input" type="text" defaultText="Add category" value="Add category" /><a onclick="addCategory($(this).prev(), '#cat_list');"> Add</a>
            </dl>
          </div>
        </div>
      </form>  
    </div>
    <!-- Left Panel -->
    <div class="jsdatastorage">
      <a py:for="s in book.songs()" href="${song_url(book, s)}" data-filtertext="${s.tosearchstr()}" class="leftnav selected${s.title==song.title}">${s.title}</a>
    </div>
  </div>
  <script type="text/javascript">
  $(document).on("pageshow","[data-role='page']", function() {
    makeSearchable('.categories', 'c:')
    makeSearchable('.author', 'a:')
    });
  </script>
</body>
</html>
