<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<?python
import re
def song_url(book,song):
  return tg.url('/book/%s/song/%s-%s' % (book.title, song.id, re.sub(r'[^\sa-zA-Z0-9_-]', '',  song.title)))
?>
<head py:match="head" py:attrs="select('@*')">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="${response.charset}" />
  <title py:if="False">Your generic title goes here</title>
  <meta py:replace="select('*')"/>
  <link rel="stylesheet" type="text/css" media="screen" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/2html.css')}" />
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/master.css')}" />

</head>

<body class="nochords" py:match="body" py:attrs="select('@*')">
  <!-- Navbar -->
  <div data-role="header" class="header">
    <a id="open_left_panel" class="ui-btn ui-icon-carat-l ui-btn-icon-left ui-btn-icon-notext" href="#left_panel">&nbsp;</a>
    <b><h1 align="center">yCanta!</h1></b>
    <a class="ui-btn ui-icon-carat-r ui-btn-icon-right ui-btn-icon-notext" href="#right_panel">&nbsp;</a>
    <a href="/book" class="ui-btn ui-icon-home ui-btn-icon-right">&nbsp;</a>
    <span id="breadcrumb">
      <py:match path="breadcrumb">
      <a py:for="crumb in breadcrumbs" py:if="crumb[0] != 'Edit'" href="/${crumb[1]}" class="breadcrumb ui-btn ui-icon-carat-r ui-btn-icon-right">${crumb[0]}</a>
      <a py:for="crumb in breadcrumbs" py:if="crumb == 'Edit'" href="/book/Canaan/song/Amazing" class="breadcrumb ui-btn ui-icon-edit ui-btn-icon-right">${crumb}</a>
      </py:match>
    </span>
    <span id="actions_menu">
      <a id="hamburger_icon" class="ui-btn ui-icon-bars ui-btn-icon-left">&nbsp;</a>
      <div data-role="listview" id="toppings">
      </div>
    </span>
  </div>
  <!-- Main included content -->
  <div class="container">
    <!-- Flash messages -->
    <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div py:if="flash" py:replace="Markup(flash)" />
        </div>
      </div>
    </py:with>
  </div>
  <div py:replace="select('*|text()')"/>
  
  <!-- Left Panel -->
  <div data-role="panel" data-display="overlay" id="left_panel">
    <div class="scrollable " style="overflow:auto;" id="list" data-filter="true">
      <strong>Javascript Required</strong>
    </div> 
  </div>

  <!-- Footer -->
  <div data-role="footer">
  </div>

  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript">
  $(document).bind("mobileinit", function() {
    $.mobile.defaultPageTransition = 'none';
  });
  </script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="${tg.url('/javascript/lib.js')}"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $("body").addClass("jsdatastorage")
    $("[data-role='header'], [data-role='footer']").toolbar({ theme: "a" });
    $("#left_panel, #right_panel").panel({ theme: "a" });      
    $(window).trigger("resize")

  });
  $(document).on("pageshow","[data-role='page']", function() {
    $("span#breadcrumb").html($(this).find(".breadcrumb").clone());
    $("#toppings").empty().html($(this).find(".toppings").clone());
    $("#list").empty().html($(this).find(".leftnav").clone());
    $(window).trigger("resize")
    $("#toppings").listview();
    $("#toppings").listview("refresh");
    $("#list").filterable({ theme: "a" });
    $("#list").filterable("refresh");

    $(this).find("chunk").each(function(index){
      if($(this).find('c').length == 0){
        $(this).addClass('nochords')
      } else {
        $(this).addClass('haschords')
      }
    });
  });

  </script>
</body>
</html>
